
<h3>Todo list</h3>


 <ul class="list-group" >
  
   <li class="list-group-item" *ngFor="let item of todoItems">

        <div class="row">
            <div class="col-9">{{item}}</div>
            <div class="col-3 text-right">
                <button  color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon  class="mIcons"  >edit</mat-icon>
                    <mat-icon  class="mIcons">delete</mat-icon>
                    
                    </button>
               
            </div>
        </div>
   </li>

 </ul>
